<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.goalstotoday.tunnel</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>exec "$HOME/develop/planner/scripts/mac-mini-goalstotoday-tunnel.sh"</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GOALS_TO_TODAY_TUNNEL_ID</key>
    <string>922b16b2-307d-45e4-acff-cf864353ba38</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>/Users/jieseobpark/.cloudflared/logs/goalstotoday.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jieseobpark/.cloudflared/logs/goalstotoday.err.log</string>
</dict>
</plist>
